/* Global CSS Properties */

html {
    font-size: 100%;
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgb(136, 136, 136) rgb(178, 185, 193);
}

.button_class {
    background-color: #345975;
}

.button_class:hover {
    background-color: #345975;
}

body {
    background-color: #ffffff;
    background-image: url("Media/background.jpg");
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 200;
}

img {
    margin: 10px;
    max-width: 95%;
    border-width: 5px;
    background-color: rgb(158, 158, 158);
    border-style: double;
    border-radius: 10px;
}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 200;
}

.center {
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 100;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 100;
}

h3 {
    padding-left: 60px;
    padding-bottom: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-style:double;
    text-decoration-thickness: 2px;
    color: #FFFFFF;
    text-shadow: 4px 3px 0 #000000;
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 200;
}

/* Intro Page title  */

.intro_format {
    text-align: center;
    animation: 1.5s ease-out 0s 1 text_slide_in;
}

@keyframes text_slide_in {
    0% {
        left: -300%;
    }

    100% {
        left: 0%;
    }
}

.intro_element {
    padding: 15px;
    color: #ededed;
}

.intro_line {
    height: 1px;
    width: 100%;
    border-radius: 10px;
    border-style: double;
    border-color: #ededed;
}

/* All quotes body at bottom */
.quote_format {
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    /* background-color: #888; */
    background-color: rgba(136,136,136,0.5);
}

.quote_line {
    margin: auto;
    width: 60%;
    border-color: #000000;
    border-style: double;
    border-radius: 50%;
}

.content {
    box-shadow: 10px -40px 52px -30px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 10px -40px 52px -30px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 10px -40px 52px -30px rgba(0, 0, 0, 0.65);
}

.page_buffer {
    /* background-color: #888; */
}

.desc {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    /* background-color: #888; */
}

.bg {
    /* background-color:#888 */
    background-color: rgba(136,136,136,0.6);
}

/* All Pages Footer */
.footer {
    background-color: #888;
    text-align: center;
    height: 100px;
}

.footer_line {
    width: 100%; 
    border: 1px;
    border-style: solid;
    border-color: #000;
}

.footer_info {
    margin-top: 20px;
}
.element_color {
    background-color: rgba(128, 128, 128, 0);
}

/* Sidebar */
.sidebar_format {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 200;
    color: #000000;
    text-decoration: underline;
}

.sidebar_format:link {
    color: #000000;
}

.sidebar_format:visited {
    color: #000000;
}

.sidebar_format:hover {
    color: #0767b1
}

.sidebar_buffer {
    height: 10px;
}

/* For Edge, Chrome, and Safari */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px #000000; */
    background: #b2b9c1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Overall parrallax */

.parallax {
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* index.html content */

.parallax_home {
    background-image: url(Media/deep\ hole-min.JPG);
}

#profile_image {
    border-radius: 50%;
    width: 300px;
    border-width: 8px;
    background-color: black;
    border-color: #345975;
    
}

.custom_list_element {
    position: relative;
    left: 45%;
    top: 20px;
    height: 10px; 
    width: 10px; 
    background-color: rgba(red, green, blue, 0);
    border-width: 5px;
    border-style: double;
}

/* Fun.html content */

.parallax_fun {
    background-image: url(Media/min_yellowstone_milkyway_lens-min.jpg);
}

.gallery {
    position: relative;
}

.insta_button {
    width: 50px;
    height: 50px;
    background: url(Media/instagram.png) no-repeat;
    background-size: cover;
    background-color: grey;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }

  /* .insta_button:hover {
    background-color: white;
  } */

/* Resume.html content */

.parallax_resume {
    background-image: url(Media/min_yellowstone_road-min.jpg);
}

.profile_format {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    background-color: #ffffff;
    text-align: center;
    text-decoration:solid;
    text-decoration-line: underline;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub_header_format {
    text-decoration: solid;
    text-decoration-line: underline;
}

.profile_bg_element {
    background-color: #FFFFFF;
    width: 250px;
    margin: auto;
    padding: 10px;
    border-width: 10px;
    border-radius: 0%;
    border-style: groove;
    border-color: #345975;
}

.info_format {
    background-color: #ffffff;
}

.history_format {
    background-color: #FFFFFF;
}

.table_format {
    padding: 20px;
}

.resume_link {
    
}

.resume_link:link {
    color:rgba(67, 81, 185, 1);
}

.resume_link:visited {
    color:rgb(115, 10, 136)
}

.resume_link:hover {
    color: rgb(23, 12, 233);
}

.resume_star {
    border:none; 
    max-width: 20px;
    background-color: white;
    margin: 0px;
}


/* Projects.html content */

.parallax_projects {
    /* background-color: rgba(128, 128, 128, 0); */
    background: rgb(47, 210, 102);
    background: linear-gradient(96deg, rgb(0, 168, 56) 0%, rgba(67, 81, 185, 1) 50%);
}

/* .project_title {
    padding: 30px;
    color: #888;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
} */

.projects_body {
    /* background: rgb(47, 210, 102); */
    /* background: linear-gradient(96deg, rgb(0, 168, 56) 0%, rgba(67, 81, 185, 1) 50%); */
}

.github_button {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.github_button:hover, .insta_button:hover {
    background-color: #fff;
    /* border-radius: 50%; */
    -webkit-transform: rotate(360deg) scale(1.1);
    -moz-transform: rotate(360deg) scale(1.1);
    -o-transform: rotate(360deg) scale(1.1);
    -ms-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
}




.project_1_parallax{
    height: 600px;
    background-image: url(Media/phong-shading-cg-ev1.JPG);
}

.project_2_parallax{
    background-color: rgb(233, 215, 109);
    height: 600px;
    background-image: url(Media/hero-tiger.min2.png);   
}

.project_3_parallax{
    height: 800px; 
    background-image: url(Media/creative_min_2.jpg);
}

.project_4_parallax{
    height: 800px; 
    background-image: url(Media/home-star-3d.gif);
}

.content_link {
    text-decoration: underline;
}

.content_link:link {
    color: rgb(0, 21, 247);
}
.content_link:visited {
    color: rgb(115, 10, 136);
}
.content_link:hover {
    color: #f3f3f3;
}


/* Pacman Animation */
.shape {
    position: relative;
    top: 20px;
    width: fit-content;
    height: fit-content;
    background-image: url(/Media/open_pac.png);
    /* animation: move_around 12s linear 0s infinite; */
    animation-name: move_around;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 12s;
    -webkit-transition: 0s infinite;
    -moz-transition: 0s infinite;
    -o-transition: 0s infinite;
    transition: 0s infinite;

}

@keyframes move_around {
    0% {
        left: 5%;
        top: 10px;
    }

    25% {
        left: 85%;
        top: 10px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg); 
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    26% {
        left: 85%;
        top: 10px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg); 
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    50% {
        left: 85%;
        top: 770px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg); 
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    51% {
        left: 85%;
        top: 770px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg); 
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        left: 5%;
        top: 770px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg); 
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    76% {
        left: 5%;
        top: 770px;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg); 
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    100% {
        left: 5%;
        top: 10px;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg); 
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.fill {
    height: 70px;
    width: 70px;
    animation: shape_background 0.1s linear 1s infinite alternate;
    background-color: rgba(227, 227, 12, 1);
    border-radius: 50%;
}

@keyframes shape_background {
    0% {
        background-color: rgba(227, 227, 12, 1);
    }

    100% {
        background-color: rgba(227, 227, 12, 0);
    }
}